<div class="address-form-container" [formGroup]="checkoutForm">
    <div class="form-header">
        <h3 class="form-title">Shipping Address</h3>
        <p class="form-subtitle">Please provide your shipping details</p>
    </div>

    <div formGroupName="addressForm" class="address-form">
        <div class="form-row">
            <div class="form-group">
                <div class="form-floating">
                    <input 
                        type="text" 
                        class="form-control modern-input" 
                        id="fName"
                        [class.is-invalid]="FName?.invalid && FName?.touched"
                        [class.is-valid]="FName?.valid && FName?.touched"
                        formControlName="fName"
                        placeholder="First Name">
                    <label for="fName">First Name</label>
                    <div class="invalid-feedback" *ngIf="FName?.invalid && FName?.touched">
                        <span *ngIf="FName?.errors?.['required']">First Name is required</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="form-floating">
                    <input 
                        type="text" 
                        class="form-control modern-input" 
                        id="lName"
                        [class.is-invalid]="LName?.invalid && LName?.touched"
                        [class.is-valid]="LName?.valid && LName?.touched"
                        formControlName="lName"
                        placeholder="Last Name">
                    <label for="lName">Last Name</label>
                    <div class="invalid-feedback" *ngIf="LName?.invalid && LName?.touched">
                        <span *ngIf="LName?.errors?.['required']">Last Name is required</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <div class="form-floating">
                    <input 
                        type="text" 
                        class="form-control modern-input" 
                        id="street"
                        [class.is-invalid]="Street?.invalid && Street?.touched"
                        [class.is-valid]="Street?.valid && Street?.touched"
                        formControlName="street"
                        placeholder="Street Address">
                    <label for="street">Street Address</label>
                    <div class="invalid-feedback" *ngIf="Street?.invalid && Street?.touched">
                        <span *ngIf="Street?.errors?.['required']">Street is required</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="form-floating">
                    <input 
                        type="text" 
                        class="form-control modern-input" 
                        id="city"
                        [class.is-invalid]="City?.invalid && City?.touched"
                        [class.is-valid]="City?.valid && City?.touched"
                        formControlName="city"
                        placeholder="City">
                    <label for="city">City</label>
                    <div class="invalid-feedback" *ngIf="City?.invalid && City?.touched">
                        <span *ngIf="City?.errors?.['required']">City is required</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <div class="form-floating">
                    <input 
                        type="text" 
                        class="form-control modern-input" 
                        id="country"
                        [class.is-invalid]="Country?.invalid && Country?.touched"
                        [class.is-valid]="Country?.valid && Country?.touched"
                        formControlName="country"
                        placeholder="Country">
                    <label for="country">Country</label>
                    <div class="invalid-feedback" *ngIf="Country?.invalid && Country?.touched">
                        <span *ngIf="Country?.errors?.['required']">Country is required</span>
                    </div>
                </div>
            </div>
            
            <div class="form-group save-btn-container">
                <button 
                    class="btn btn-save-address"
                    (click)="saveUserAddress()"
                    [disabled]="!checkoutForm!.get('addressForm')?.dirty || checkoutForm!.get('addressForm')?.invalid">
                    <i class="fas fa-save me-2"></i>Save Address
                </button>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-outline-custom" routerLink="/basket">
            <i class="me-2 fa-solid fa-arrow-left"></i> Back to Basket
        </button>
        <button class="btn btn-primary-custom" cdkStepperNext>
            Continue to Delivery <i class="ms-2 fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>