
<div class="container mt-5" >
    <h3 *ngIf="orders === null">there are not any orders.</h3>
    <table class="table table-hover" *ngIf="orders">
  <thead>
    <tr>
      <th scope="col">orderDate</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders" style="cursor: pointer;" routerLink="/orders/{{order.id}}"
    >
      <th scope="row"># {{order.id}}</th>
      <td>{{order.orderDate | date : 'medium'}}</td>
      <td>{{order.total | currency}}</td>
      <td>
        <span class="badge"
        [class.bg-success]="order.status==='Payment Received'"
        [class.bg-danger]="order.status==='Payment Failed'"
        [class.bg-warning]="order.status==='Pending'"
        >
            {{order.status==='Payment Received'? 'Success'
        : order.status==='Payment Failed'? 'Failed': `${order.status}...`}}
        </span>
        </td>
    </tr>
  </tbody>
</table>
</div>