<div *ngIf="(bsketTotals$|async)">
    <div class=" bg-light py-4 px-3 text-uppercase font-weight-bold">
    Order Summary
</div>
<ul *ngIf="(bsketTotals$|async) as bsketTotals" class="p-4 list-group">
    <p class="text-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
    <li class="list-unstyled border-bottom py-3">
        <div class="d-flex justify-content-between">
            <strong>Subtotal</strong>
            <strong>{{bsketTotals.subTotal| currency}}</strong>
        </div>
    </li>
    <li class="list-unstyled border-bottom py-3">
        <div class="d-flex justify-content-between">
            <strong>Shipping</strong>
            <strong>{{bsketTotals.shipping| currency}}</strong>
        </div>
    </li>
    <li class="list-unstyled pt-3">
        <div class="d-flex justify-content-between">
            <strong>Total</strong>
            <strong>{{bsketTotals.total| currency}}</strong>
        </div>
    </li>
</ul>
</div>