<div class="container mt-4 mb-5">
    
  <div class="row">
    
    
    <app-basket-summary
    (increment)="incrementItemQuantity($event)"
    (decrement)="decrementItemQuantity($event)"
    (remove)="removeItemFromBasket($event)">
    </app-basket-summary>
  </div>

  <div class="row">
    <div class="col-4 offset-8">
      <app-order-totals></app-order-totals>

      <a *ngIf="(basket$|async)" routerLink="/checkout" class="py-3 btn btn-outline-primary btn-block w-100">
         Proceed to checkout
      </a>
    </div>
  </div>

</div>