<!-- basket.component.html -->
<div class="basket-container">
  <div class="basket-content">
    <!-- Basket Summary Section -->
    <div class="basket-summary-section">
      <app-basket-summary
        (increment)="incrementItemQuantity($event)"
        (decrement)="decrementItemQuantity($event)"
        (remove)="removeItemFromBasket($event)">
      </app-basket-summary>
    </div>
    
    <!-- Order Totals Section -->
    <div class="order-totals-section">
      <app-order-totals></app-order-totals>
      <div class="checkout-button-container" *ngIf="(basket$|async)">
        <a routerLink="/checkout" class="checkout-button">
          Proceed to checkout
        </a>
      </div>
    </div>
  </div>
</div>