<h3 *ngIf="(basket$|async) == null">there are not any items inside this basket</h3>

<table *ngIf="(basket$|async)" class="table">
  <thead>
    <tr class="table-active" [class.table-dark]="!isBasket">
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th [class.text-center]="!isBasket" scope="col" >Quantity</th>
      <th scope="col">Total</th>
      <th *ngIf="isBasket" class="text-center" scope="col" >Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (basket$|async)?.items">
      <td>
        <div class="d-inline-block">
            <img [src]="item.pictureUrl" class="img-fluid" [alt]="item.productName" style="width: 100px;">
            <div class="d-inline-block ms-3 align-middle">
                <h5>
                    <a style="text-decoration: none;"routerLink="/shop/{{item.id}}" routerLinkActive="router-link-active"  class="text-uppercase text-dark mb-3">{{item.productName}}</a>
                </h5>
                <p class="text-muted">Type: {{item.type}}</p>
            </div>
        </div>
      </td>
      <td class="align-middle">
        <span style="font-size: 1.25rem;">{{item.price|currency}}</span>
      </td>
      <td class="align-middle" [class.text-center]="!isBasket">
        <i *ngIf="isBasket" (click)="decrementItemQuantity(item)" class="fa-solid fa-circle-minus text-warning me-2" style="cursor: pointer;font-size: 1.5rem;"></i>
        <span style="font-size: 1.5rem;">{{item.quantity}}</span>
        <i *ngIf="isBasket" (click)="incrementItemQuantity(item)" class="fa-solid fa-circle-plus text-warning ms-2" style="cursor: pointer;font-size: 1.5rem;"></i>
      </td>
      <td class="align-middle"><span style="font-size: 1.25rem;">{{item.quantity*item.price | currency}}</span></td>
      <td *ngIf="isBasket" class="text-center align-middle"><a class="text-danger"><i (click)="removeItemFromBasket(item)" class="fa-solid fa-trash fs-2" style="cursor: pointer;"></i></a></td>
    </tr>
  </tbody>
</table>