<div class="delivery-container" [formGroup]="checkoutForm">
    <div class="form-header">
        <h3 class="form-title">Choose Delivery Method</h3>
        <p class="form-subtitle">Select your preferred shipping option</p>
    </div>
    <div class="delivery-methods" formGroupName="deliveryForm">
        <div class="delivery-option" *ngFor="let dm of deliveryMethods">
            <input
                class="delivery-radio"
                type="radio"
                (change)="setShippingCost(dm)"
                id="{{dm.id}}"
                value="{{dm.id}}"
                formControlName="deliveryMethod">
            <div class="delivery-card" [class.selected]="checkoutForm.get('deliveryForm.deliveryMethod')?.value == dm.id">
                <label class="delivery-label" for="{{dm.id}}">
                    <div class="delivery-header">
                        <div class="delivery-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="delivery-info">
                            <h4 class="delivery-name">{{dm.shortName}}</h4>
                            <div class="delivery-price">{{dm.cost | currency}}</div>
                        </div>
                        <div class="delivery-check">
                            <i class="fas fa-check"></i>
                        </div>
                    </div>
                    <div class="delivery-description">
                        {{dm.description}}
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-outline-custom" cdkStepperPrevious>
            <i class="me-2 fa-solid fa-arrow-left"></i> Back to Address
        </button>
        <button class="btn btn-primary-custom" cdkStepperNext>
            Continue to Review <i class="ms-2 fa-solid fa-arrow-right"></i>
        </button>
    </div>
</div>