
<section class="hero-section">
  <div class="hero-overlay"></div>
  
  <div class="container-lg hero-content">
    <div class="row">
      <div class="col-lg-6 pt-4">
        <h2 class="hero-title display-1 ls-1">
          <span class="fw-bold hero-brand">Talabat</span>
        </h2>
        <p class="hero-subtitle fs-4">Fast delivery of food, groceries and more</p>
        <div class="d-flex gap-3">
          <a
            routerLink="/shop"
            class="btn btn-primary text-uppercase fs-6 rounded-pill px-4 py-3 mt-3 hero-btn"
            >Start Shopping</a>
        </div>
        <div class="row my-5">
          <div class="col-12 col-sm-4 mb-3 mb-sm-0">
            <div class="row text-dark">
              <div class="col-auto">
                <p class="hero-stat-number fs-1 fw-bold lh-sm mb-0">{{productsCount}}+</p>
              </div>
              <div class="col">
                <p class="hero-stat-text text-uppercase lh-sm mb-0">Total <br> Products</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 mb-3 mb-sm-0">
            <div class="row text-dark">
              <div class="col-auto">
                <p class="hero-stat-number fs-1 fw-bold lh-sm mb-0">{{brandsCount}}+</p>
              </div>
              <div class="col">
                <p class="hero-stat-text text-uppercase lh-sm mb-0">Product <br> Brands</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4 mb-3 mb-sm-0">
            <div class="row text-dark">
              <div class="col-auto">
                <p class="hero-stat-number fs-1 fw-bold lh-sm mb-0">{{typesCount}}+</p>
              </div>
              <div class="col">
                <p class="hero-stat-text text-uppercase lh-sm mb-0">Product <br> Types</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer class="footer-section row row-cols-1 row-cols-sm-2 row-cols-md-5 p-5 border-top bg-dark">
  <div class="col mb-3">
    <a
      href="/"
      class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
      aria-label="Bootstrap"
    >
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <p class="text-light">© 2025</p>
  </div>
  <div class="col mb-3"></div>
  <div class="col mb-3">
    <h5 class="text-light">Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Features</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Pricing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">FAQs</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">About</a>
      </li>
    </ul>
  </div>
  <div class="col mb-3">
    <h5 class="text-light">Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Features</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Pricing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">FAQs</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">About</a>
      </li>
    </ul>
  </div>
  <div class="col mb-3">
    <h5 class="text-light">Section</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Home</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Features</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">Pricing</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">FAQs</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-light">About</a>
      </li>
    </ul>
  </div>
</footer>